<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8" /> 
    <title>angularJs</title> 
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head> 
<body> 
    <h2>Sign up</h2> 
    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate> 
        <p>Username: 
            <input type="text" name="user" ng-model="user" required> 
            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid"> 
            <span ng-show="myForm.user.$error.required">username is required</span> 
            </span> 
        </p> 
        <p>Email: 
        <input type="email" name="email" ng-model="email" required> 
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid"> 
        <span ng-show="myForm.email.$error.required">email is required</span> 
        <span ng-show="myForm.email.$error.email">invalid email address</span> 
        </span> 
        </p> 

        <p>Password: 
            <input type="password" name="password" ng-model="password" ng-minlength="6" ng-maxlength="15" required>
            <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid"> 
            <span ng-show="myForm.password.$dirty && myForm.password.$error.required">Password is required</span>
            <span ng-show="myForm.password.$dirty && myForm.password.$error.minlength">password must be larger than 6 digits</span> 
            <span ng-show="myForm.password.$dirty && myForm.password.$error.maxlength">password must be smaller than 15 digits</span> 
            </p> 
        
        <p> 
        <input type="submit" 
        ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
        myForm.email.$dirty && myForm.email.$invalid || myForm.password.$dirty && myForm.password.$invalid"> 
        </p> 
    </form> 
    <script> 
        var app = angular.module('myApp', []); 
        app.controller('validateCtrl', function($scope) { 
        $scope.user = 'Yixiao Li'; 
        $scope.email = 'yil210@pitt.edu'; 
        }); 
    </script> 
</body> 
</html> 